/* Variables */

:root {
  --ff-regular: 'Lato', sans-serif;

  --fw-branding: 800;
  --fw-header: 900;
  --fw-regular: 400;

  --fs-xxl: 8rem;
  --fs-xl: 5rem;
  --fs-800: 4rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;

  --c-white: #FCF7F8;
  --c-black: #000c10;
  --c-darkblue: #00182c;
  --c-purple: #171738;
  --c-gray: #313638;
  --c-cyan: #297373;
  --c-teal: #40BFBF;
  --c-cream: #F3E9D2;
  --c-orange: #E6AF2E;

  --w-content: min(100vw, 82rem);

  --sw-min: 1081px;
}

@media screen and (min-width: 1081px) {
  :root {
    --fs-xxl: 6rem;
    --fs-xl: 6rem;
    --fs-800: 4rem;
    --fs-600: 2.5rem;
    --fs-500: 1.75rem;
    --fs-400: 1.25rem;
  }
}

/* General Setup */

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  width: 100vw;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;

  font-family: var(--ff-regular);

  background: var(--c-darkblue);
  color: var(--c-cyan);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  
  font-family: var(--ff-header);
  font-weight: var(--fw-header);
}

a {
  text-decoration: none;
  color: currentColor;
  transition: color 400ms;
}

a:hover {
  color: var(--c-white);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
}

/* Header & Branding */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--w-content);
  padding: .5rem 2.5rem;
  z-index: 1;
}

.branding {
  font-family: var(--ff-regular);
  font-weight: var(--fw-branding);
  font-size: var(--fs-xxl); 
  letter-spacing: -.25em;
  color: var(--c-teal);
}

.branding span {
  display: none;
  letter-spacing: -.125em;
}

@media screen and (min-width: 800px) {
  .branding span {
    display: inline;
  }
}

/* Navigation  */

.menu {
  display: flex;
  flex-direction: column;
  text-align: right;
  position: relative;
}

.menu::after {
  position: absolute;
  content: '';
  background: var(--c-cyan);
  top: -.25rem;
  left: calc(100% + 0.75rem);
  right: -1rem;
  bottom: -.25rem;
}

header .menu a {
  font-size: var(--fs-600);
  color: var(--c-teal);
  text-decoration: none;
}

header .menu a:hover {
  color: var(--c-white);
}

.to-top {
  display: none;
  position: fixed;  
  align-items: center;
  justify-items: center;
  flex-direction: column;

  z-index: 5;
  top: .75rem;
  padding: .75rem;
  border-radius: .5rem;

  font-size: var(--fs-400);
 
  color: var(--c-white);
  background-color: var(--c-black);
  cursor: pointer;
  opacity: .4;

  transition: 400ms;
}

.to-top:hover {
  background-color: var(--c-gray);
}

@media screen and (min-width: 1081px) {
  .to-top {
    top: 3rem;
    right: 16rem;
    padding: 1.5rem;
    border-radius: 1rem;
    opacity: 0.75;
  }
}

/* Content */

main {
  width: var(--w-content);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.page {
  width: 100vw;
  height: 100vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Home Page */

.home {
  padding-top: 6rem;
  background: radial-gradient(var(--c-purple), var(--c-black));
}

h2 {
  text-align: center;
  font-size: var(--fs-xl);
  color: var(--c-teal);
}

h2 > span {
  display: block;
  color: var(--c-teal);
  font-size: var(--fs-800);
  margin: 0;
  padding: 0;
}

.code-link {
  color: var(--c-teal);
}

.music-link {
  color: var(--c-orange);
}

.music-info,
.code-info {
  margin: auto;
  width: min(80%, 80rem);
  display: block;
  color: var(--c-white);
  
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

@media screen and (min-width: 1081px) {
  .home {
    background: linear-gradient(to bottom, var(--c-black), transparent 35%);
  }
  
  h2 {
    color: inherit;
  }
  
  h2 > span {
    display: inline;
  }

  h2 > a:hover {
    color: var(--c-teal);
  }

  .code-link,
  .music-link {
    color: inherit;
  }

  .code-link::after,
  .music-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(transparent, transparent);
    z-index: -1;  
  }

  .music-link:hover {
    color: var(--c-orange);
  }

  .code-link::after,
  .music-link::after {
    opacity: 0;
    transition: 400ms;
    background: radial-gradient(var(--c-purple), var(--c-black));
  }

  .code-link:hover::after,
  .music-link:hover::after {
    opacity: 1;
  }

  .music-link:hover ~ .music-info, 
  .code-link:hover  ~ .code-info {
    color: var(--c-white);
    transition: color 250ms;
  }

  .music-info,
  .code-info {  
    left: 0;
    right: 0;
    position: absolute;
    color: transparent;
    transition: color 50ms;
  }
}

.cta {
  margin-top: 1rem;
  background: transparent;
  border: solid .25rem var(--c-teal);
  font-family: var(--ff-regular);
  font-weight: var(--fw-header);
  color: var(--c-white);
  font-size: var(--fs-400);
  padding: .75rem 1.5rem;
  position: relative;
  border-radius: .5rem;
}

@media screen and (min-width: 1081px) {
  .cta {
    margin-top: 8rem;
    transition: 600ms ease-in-out;
  }

  .cta:hover {
    color: var(--c-darkblue);
    background: var(--c-teal); 
    cursor: pointer;
    box-shadow: inset 0 0 0 3rem var(--c-teal);
  }
}

/* About Page */

.about {
  background-color: var(--c-teal);
  color: var(--c-black);
}

.character-card {
  width: 40%;
  height: 40%;
  display: flex;
  background: var(--c-teal);
  border: var(--c-black) solid .5rem;
  outline: var(--c-cyan) solid .5rem;
  outline-offset: .5rem;
  align-items: center;
}

.portrait {
  height: 100%;
  width: auto;
  image-rendering: pixelated;
  background: var(--c-cyan);
  outline: var(--c-black) solid .5rem;
  margin-right: 2rem;
  
}

.character-description {
  color: var(--c-black);
  display: flex;
  flex-direction: column;
}

.character-description > h3 {
  font-size: var(--fs-600);
}

.socials {
  font-size: var(--fs-500);
  color: var(--c-cyan);
  display: flex;  
  gap: .5rem;
}

.socials a:hover {
  color: var(--c-black);
}

.technologies {
  font-size: var(--fs-500);
}

/* Portfolio Page */

.portfolio {
  background: linear-gradient(to bottom, var(--c-black) , var(--c-purple));
  color: var(--c-cyan);
  justify-content: start;
}

.portfolio > h3 {
  padding-top: 2.25rem;
}

.portfolio-tabs {
  top: 4rem;
  gap: 1rem;
  display: flex;
  font-size: var(--fs-800);
  font-weight: var(--fw-header);
  z-index: 5;
}

.portfolio-tabs > a {
  display: inline-block;
  text-align: center;
}

.portfolio-tab {
  position: absolute;
  padding-top: 12rem;
  text-align: center;
  display: none;
}

.portfolio-tab:target {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 1081px) {
  .portfolio-tabs {
    gap: 0;
  }
}

#music-portfolio:target ~ .portfolio-tabs > #music-tab {
  color: var(--c-orange) !important;
}

#code-portfolio:target ~ .portfolio-tabs > #code-tab {
  color: var(--c-teal);
}

.album-cover {
  width: min(20rem, 50%);
  height: auto;
}

/* Contact Page */

.contact {
  background: var(--c-black);
  color: var(--c-white);
}

/* Footer */

footer {
  width: 100vw;
  text-align: center;
  background: var(--c-black);
  padding-block: 2rem;
}