@import 'variables.css';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  margin-top: 5em;
  margin-inline: auto;
  width: min(100em, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.page__content h2 {
  color: var(--c-dark);
  line-height: var(--fs-xl);
  font-size: var(--fs-xl);
}

.page__content h3 {
  color: var(--c-dark);
  line-height: var(--fs-800);
  font-size: var(--fs-800);
  margin-block: .5em;
}

#home {
  background-image: url('../images/_portrait_3.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--c-dark);
  background-blend-mode: soft-light;
  background-size: contain;
  justify-content: center;
}

#home .page__content {
  margin-top: 0;
}

#home h1 {
  margin-left: -.125em;
  color: var(--c-white);
  line-height: var(--fs-xxl);
  font-size: var(--fs-xxl);
}

.name {
  font-weight: bold;
  color: var(--c-color);
  font-size: var(--fs-800);
}

.roles {
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  font-size: var(--fs-400);
  align-items: flex-start;
  justify-content: center;
  gap: .5em;
}

.roles .right {
  display: flex;
  align-items: center;
}

.socials {
  margin-top: 1.5rem;
  font-size: var(--fs-600);
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

footer {
  background: var(--c-black);
  color: var(--c-white);
}

footer h2 {
  color: var(--c-color) !important;
}

footer .copyright {
  margin-top: 2.5em;
}

footer .contact-me {
  font-size: var(--fs-600);
  font-weight: 800;
}

footer .arrow {
  margin-left: .5em;
  padding-right: 1em;
  text-shadow: .5rem 0 0 var(--c-color), 1rem 0 0 var(--c-dark);
}