@import 'variables.css';

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: var(--c-white);
  opacity: .5;
  margin-block: .25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--c-dark);
  border-radius: .25rem;
  border: solid transparent .125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-white);
}