@import 'fonts.css';

:root {
  --ff-regular: 'Lato', sans-serif;
  --ff-header: 'Roboto Condensed', sans-serif;

  --fw-regular: 300;
  --fw-header: 700;

  --c-white: #E6F4F1;
  --c-black: #1B1B1B;
  --c-color: #009EAC;
  --c-dark: #002F3D;
  --c-yellow: #F39530;
  --c-red: #5A1300;
  --c-green: #008147;

  --fs-xxl: 9.75rem;
  --fs-xl:  7.25rem;
  --fs-800: 2.25rem;
  --fs-600: 1.75rem;
  --fs-400: 1.25rem;
  --fs-200: 1.00rem;
  --fs-xs:  0.75rem;

  --page-width: min(75em, 100vw);
}

/* MOBILE */
@media screen and (max-width: 800px) {
  :root {
    --fs-xxl: 5.25rem;
    --fs-xl:  3.50rem;
    --fs-800: 1.75rem;
    --fs-600: 1.25rem;
    --fs-400: 1.00rem;
    --fs-200: 0.875rem;
    --fs-xs:  0.5rem;

    --page-width: calc(100vw - 2.5rem);
  }
}

